/build/
/dist/
strings.xml
.idea/
out/
*.iml
nbproject/
en.lproj/Localizable.strings
fi.lproj/Localizable.strings
admin-web/
de.lproj/
es.lproj/Localizable.strings
it.lproj/Localizable.strings
main-web/
*.strings
widget-web/
